@import "tailwindcss";
/* colors named via www.color-name.com */
@theme {
    --color-max-green-yellow: #C8EE44;
    --color-dark-gunmetal: #1B212D;
    --color-rhythm:#78778B;
    --color-onyx:#363A3F;
    --color-davy-grey:#4E5257;
    --color-bright-grey:#EBE8E8;
    --color-cadet-grey:#929EAE;
    --color-cultured:#F8F8F8;
    --color-lotion:#FAFAFA;
    --color-quartz:#4A4A49;
    --color-raisin-black:#20201F;
    --color-granite-grey:#626260;
    --color-antiflash-white:#f2f3f0;
    --color-emerald:#29A073;
}